In [17]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [18]:
df=pd.read_csv('final_data.csv')  # read data

In [19]:
df.head()   # display first 5 rows of the data

,Unnamed: 0,FTHG,IWA,AY,AR,FTR,IWD,HomeTeam,HST,AS,HTAG,HTHG,AST,HC,AwayTeam,HF,WHH,HY,Season,Referee,Date,WHA,WHD,FTAG,Div,IWH,AC,HS,HR,AF,HTR
0,0,4.0,2.7,2.0,0.0,H,2.9,Charlton,14.0,8.0,0.0,2.0,4.0,6.0,Man City,13.0,2.10,1.0,0,Rob Harris,19/08/00,3.10,3.2,0.0,E0,2.20,6.0,17.0,0.0,12.0,H
1,1,4.0,4.2,2.0,0.0,H,3.2,Chelsea,10.0,12.0,0.0,1.0,5.0,7.0,West Ham,19.0,1.44,1.0,0,Graham Barber,19/08/00,6.50,3.6,2.0,E0,1.60,7.0,17.0,0.0,14.0,H
2,2,1.0,2.7,3.0,0.0,A,2.9,Coventry,3.0,16.0,1.0,1.0,9.0,8.0,Middlesbrough,15.0,2.30,5.0,0,Barry Knight,19/08/00,2.62,3.2,3.0,E0,2.20,4.0,6.0,1.0,21.0,D
3,3,2.0,3.5,1.0,0.0,D,3.0,Derby,4.0,13.0,2.0,1.0,6.0,5.0,Southampton,11.0,2.00,1.0,0,Andy D'Urso,19/08/00,3.20,3.2,2.0,E0,1.80,8.0,6.0,0.0,13.0,A
4,4,2.0,4.5,3.0,0.0,H,3.3,Leeds,8.0,12.0,0.0,2.0,6.0,6.0,Everton,21.0,1.61,1.0,0,Dermot Gallagher,19/08/00,4.50,3.5,0.0,E0,1.55,4.0,17.0,0.0,20.0,H

In [20]:
df=df.sort_values('Date')   # sort on date
df.head()

,Unnamed: 0,FTHG,IWA,AY,AR,FTR,IWD,HomeTeam,HST,AS,HTAG,HTHG,AST,HC,AwayTeam,HF,WHH,HY,Season,Referee,Date,WHA,WHD,FTAG,Div,IWH,AC,HS,HR,AF,HTR
208,208,1.0,2.9,3.0,0.0,H,2.9,Derby,3.0,9.0,0.0,1.0,6.0,5.0,Everton,9.0,1.83,2.0,0,Alan Wiley,01/01/01,3.6,3.3,0.0,E0,2.10,11.0,7.0,0.0,18.0,H
213,213,4.0,3.1,5.0,0.0,H,3.0,Sunderland,9.0,9.0,1.0,1.0,3.0,4.0,Ipswich,15.0,1.83,1.0,0,Neale Barry,01/01/01,3.6,3.3,1.0,E0,1.90,3.0,16.0,0.0,10.0,D
212,212,3.0,5.5,2.0,0.0,H,3.6,Man United,12.0,9.0,0.0,2.0,5.0,8.0,West Ham,17.0,1.28,1.0,0,Peter Jones,01/01/01,8.0,4.5,1.0,E0,1.40,2.0,25.0,0.0,13.0,H
211,211,2.0,6.2,1.0,0.0,H,3.8,Liverpool,8.0,7.0,1.0,1.0,3.0,15.0,Southampton,8.0,1.30,0.0,0,Dermot Gallagher,01/01/01,9.5,4.0,1.0,E0,1.35,2.0,16.0,0.0,5.0,D
210,210,1.0,4.7,3.0,0.0,A,3.4,Leicester,3.0,8.0,2.0,1.0,4.0,5.0,Bradford,11.0,1.40,0.0,0,Steve Lodge,01/01/01,7.5,3.6,2.0,E0,1.50,3.0,9.0,0.0,14.0,A

In [21]:
df['Date']=pd.to_datetime(df['Date'])

In [22]:
print(df.shape)
df.head()

(6618, 31)

,Unnamed: 0,FTHG,IWA,AY,AR,FTR,IWD,HomeTeam,HST,AS,HTAG,HTHG,AST,HC,AwayTeam,HF,WHH,HY,Season,Referee,Date,WHA,WHD,FTAG,Div,IWH,AC,HS,HR,AF,HTR
208,208,1.0,2.9,3.0,0.0,H,2.9,Derby,3.0,9.0,0.0,1.0,6.0,5.0,Everton,9.0,1.83,2.0,0,Alan Wiley,2001-01-01,3.6,3.3,0.0,E0,2.10,11.0,7.0,0.0,18.0,H
213,213,4.0,3.1,5.0,0.0,H,3.0,Sunderland,9.0,9.0,1.0,1.0,3.0,4.0,Ipswich,15.0,1.83,1.0,0,Neale Barry,2001-01-01,3.6,3.3,1.0,E0,1.90,3.0,16.0,0.0,10.0,D
212,212,3.0,5.5,2.0,0.0,H,3.6,Man United,12.0,9.0,0.0,2.0,5.0,8.0,West Ham,17.0,1.28,1.0,0,Peter Jones,2001-01-01,8.0,4.5,1.0,E0,1.40,2.0,25.0,0.0,13.0,H
211,211,2.0,6.2,1.0,0.0,H,3.8,Liverpool,8.0,7.0,1.0,1.0,3.0,15.0,Southampton,8.0,1.30,0.0,0,Dermot Gallagher,2001-01-01,9.5,4.0,1.0,E0,1.35,2.0,16.0,0.0,5.0,D
210,210,1.0,4.7,3.0,0.0,A,3.4,Leicester,3.0,8.0,2.0,1.0,4.0,5.0,Bradford,11.0,1.40,0.0,0,Steve Lodge,2001-01-01,7.5,3.6,2.0,E0,1.50,3.0,9.0,0.0,14.0,A

In [23]:
cols_to_keep=["Date","HomeTeam","AwayTeam","HS","AS","HST","AST","HC","AC","HTR","FTR","WHH","WHD",
             "WHA"]   # select only relevant columns from the data
df=df[cols_to_keep]
print(df.shape)
df.head()

(6618, 14)

,Date,HomeTeam,AwayTeam,HS,AS,HST,AST,HC,AC,HTR,FTR,WHH,WHD,WHA
208,2001-01-01,Derby,Everton,7.0,9.0,3.0,6.0,5.0,11.0,H,H,1.83,3.3,3.6
213,2001-01-01,Sunderland,Ipswich,16.0,9.0,9.0,3.0,4.0,3.0,D,H,1.83,3.3,3.6
212,2001-01-01,Man United,West Ham,25.0,9.0,12.0,5.0,8.0,2.0,H,H,1.28,4.5,8.0
211,2001-01-01,Liverpool,Southampton,16.0,7.0,8.0,3.0,15.0,2.0,D,H,1.30,4.0,9.5
210,2001-01-01,Leicester,Bradford,9.0,8.0,3.0,4.0,5.0,3.0,A,A,1.40,3.6,7.5

In [24]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

le_team=LabelEncoder()

teams=df[['HomeTeam','AwayTeam']].values   # get all possible teams present in the data
teams=np.reshape(teams,(-1,1))
teams=teams.tolist()

In [25]:
print(teams[:2])

[['Derby'], ['Everton']]

In [26]:
le_team.fit(np.array(teams).ravel())   # encode the teams from strings to numerical values

LabelEncoder()

In [27]:
df['HomeTeam']=le_team.transform(df['HomeTeam'].values)
df['AwayTeam']=le_team.transform(df['AwayTeam'].values)   # convert data to numerics
df.head()

,Date,HomeTeam,AwayTeam,HS,AS,HST,AST,HC,AC,HTR,FTR,WHH,WHD,WHA
208,2001-01-01,15,16,7.0,9.0,3.0,6.0,5.0,11.0,H,H,1.83,3.3,3.6
213,2001-01-01,35,20,16.0,9.0,9.0,3.0,4.0,3.0,D,H,1.83,3.3,3.6
212,2001-01-01,25,40,25.0,9.0,12.0,5.0,8.0,2.0,H,H,1.28,4.5,8.0
211,2001-01-01,23,33,16.0,7.0,8.0,3.0,15.0,2.0,D,H,1.30,4.0,9.5
210,2001-01-01,22,7,9.0,8.0,3.0,4.0,5.0,3.0,A,A,1.40,3.6,7.5

In [28]:
df['diff_shots']=df['HS']-df['AS']
df['diff_on_target']=df['HST']-df['AST']   # make two new features
df.head()

,Date,HomeTeam,AwayTeam,HS,AS,HST,AST,HC,AC,HTR,FTR,WHH,WHD,WHA,diff_shots,diff_on_target
208,2001-01-01,15,16,7.0,9.0,3.0,6.0,5.0,11.0,H,H,1.83,3.3,3.6,-2.0,-3.0
213,2001-01-01,35,20,16.0,9.0,9.0,3.0,4.0,3.0,D,H,1.83,3.3,3.6,7.0,6.0
212,2001-01-01,25,40,25.0,9.0,12.0,5.0,8.0,2.0,H,H,1.28,4.5,8.0,16.0,7.0
211,2001-01-01,23,33,16.0,7.0,8.0,3.0,15.0,2.0,D,H,1.30,4.0,9.5,9.0,5.0
210,2001-01-01,22,7,9.0,8.0,3.0,4.0,5.0,3.0,A,A,1.40,3.6,7.5,1.0,-1.0

In [29]:
le_half=LabelEncoder()   # encode column HTR
df['HTR']=le_half.fit_transform(df['HTR'])
df.head()

,Date,HomeTeam,AwayTeam,HS,AS,HST,AST,HC,AC,HTR,FTR,WHH,WHD,WHA,diff_shots,diff_on_target
208,2001-01-01,15,16,7.0,9.0,3.0,6.0,5.0,11.0,2,H,1.83,3.3,3.6,-2.0,-3.0
213,2001-01-01,35,20,16.0,9.0,9.0,3.0,4.0,3.0,1,H,1.83,3.3,3.6,7.0,6.0
212,2001-01-01,25,40,25.0,9.0,12.0,5.0,8.0,2.0,2,H,1.28,4.5,8.0,16.0,7.0
211,2001-01-01,23,33,16.0,7.0,8.0,3.0,15.0,2.0,1,H,1.30,4.0,9.5,9.0,5.0
210,2001-01-01,22,7,9.0,8.0,3.0,4.0,5.0,3.0,0,A,1.40,3.6,7.5,1.0,-1.0

In [30]:
df.to_csv('preprocessed_data.csv')   # save the preprocessed data for future use as CSV file

In [31]:
to_drop=['Date','FTR']  # drop FTR and date from features
labels=df['FTR'].values   # take FTR as target values or labels
df=df.drop(to_drop,axis=1)
features=df.values
print(features.shape)
print(labels.shape)

(6618, 14)
(6618,)

In [32]:
labs=[]
for l in labels:   # make probabilitic target values
    if l=='H':
        labs.append([1,0,0])   # home wins with 1 probability
    elif l=='D':
        labs.append([0,1,0])    # draw with 1 probability
    else:
        labs.append([0,0,1])    # away wins with 1 probability
labels=np.array(labs)

In [33]:
import pickle

#saving data on disk for future use
with open('features.pkl','wb') as f:
    pickle.dump(features, f)

    
with open('le_team.pkl','wb') as f:
    pickle.dump(le_team, f)    
    
with open('labels.pkl','wb') as f:
    pickle.dump(labels, f)


# save with python2 compatibility as well
with open('features_py2.pkl','wb') as f:
    pickle.dump(features, f, protocol=2)

with open('labels_py2.pkl','wb') as f:
    pickle.dump(labels, f, protocol=2)